.DS_Store
дз казазян арина.zip
дз казазян арина/.vs/inch/xs/UserPrefs.xml
дз казазян арина/.vs/проба/xs/project-cache/--Debug.json
дз казазян арина/.vs/проба/xs/project-cache/proj2-Debug.json
дз казазян арина/.vs/проба/xs/project-cache/проба-Debug.json
дз казазян арина/.vs/проба/xs/project-cache/проба-Release.json
дз казазян арина/.vs/проба/xs/UserPrefs.xml
